{% extends "admin/layout.html.twig" %}

{% block body %}
    {{ include('admin/_nav.html.twig') }}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Admin Dashboard
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
{% endblock %}
